In [1]:
import pandas as pd

In [9]:
# dados quantitativos discretos (classes)
notas = [92,81,100,82,71,73,100,92,84,100,73,92,73,84,92,92,92,84,73,100]

In [3]:
len(notas)

20

In [10]:
# contagem de por classe individual
pd.Series(notas).value_counts()

92     6
73     4
100    4
84     3
82     1
81     1
71     1
dtype: int64

In [13]:
# classe como index
pd.Series(notas).value_counts().reset_index()

   index  0
0     92  6
1     73  4
2    100  4
3     84  3
4     82  1
5     81  1
6     71  1

In [15]:
# ordenacao de rol
pd.Series(notas).value_counts().reset_index().sort_values("index")

   index  0
6     71  1
1     73  4
5     81  1
4     82  1
3     84  3
0     92  6
2    100  4

In [18]:
# reordena os indices com base na nova ordenacao
df_s = pd.Series(notas).value_counts().reset_index().sort_values("index").reset_index(drop = True)
df_s

   index  0
0     71  1
1     73  4
2     81  1
3     82  1
4     84  3
5     92  6
6    100  4

In [20]:
df_s.columns = ["Nota", "Frequencia"]
df_s

   Nota  Frequencia
0    71           1
1    73           4
2    81           1
3    82           1
4    84           3
5    92           6
6   100           4

In [21]:
# contagem de por classe com amplitude
pd.Series(notas).value_counts(bins = 3)

(90.333, 100.0]     10
(80.667, 90.333]     5
(70.97, 80.667]      5
dtype: int64

In [22]:
df_bin = pd.Series(notas).value_counts(bins = 3).reset_index().sort_values("index").reset_index(drop = True)
df_bin.columns = ["Nota", "Frequencia"]
df_bin

               Nota  Frequencia
0   (70.97, 80.667]           5
1  (80.667, 90.333]           5
2   (90.333, 100.0]          10