In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [50]:
df = pd.read_pickle("datasets/boston-houses.pkl")

In [51]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.00000,2.31000,0,0.53800,6.57500,65.20000,4.09000,1,296.00000,15.30000,396.90000,4.98000,24.00000
1,0.02731,0.00000,7.07000,0,0.46900,6.42100,78.90000,4.96710,2,242.00000,17.80000,396.90000,9.14000,21.60000
2,0.02729,0.00000,7.07000,0,0.46900,7.18500,61.10000,4.96710,2,242.00000,17.80000,392.83000,4.03000,34.70000
3,0.03237,0.00000,2.18000,0,0.45800,6.99800,45.80000,6.06220,3,222.00000,18.70000,394.63000,2.94000,33.40000
4,0.06905,0.00000,2.18000,0,0.45800,7.14700,54.20000,6.06220,3,222.00000,18.70000,396.90000,5.33000,36.20000

In [62]:
# inputs e targets
X = df.values[:,0:13]
Y = df.values[:,13]

In [69]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.33, random_state = 1)

In [70]:
model = LinearRegression()

In [71]:
model.fit(X_train, Y_train)

LinearRegression()

In [73]:
Y_pred = model.predict(X_test)

# MSE

In [79]:
from sklearn.metrics import mean_squared_error

In [86]:
scpre = mean_squared_error(Y_test, Y_pred)
print("MSE ", score)

MSE  3.417472278801665

# MAE
* valor= 0 indica que não há erro

In [81]:
from sklearn.metrics import mean_absolute_error

In [85]:
score = mean_absolute_error(Y_test, Y_pred)
print("MAE ", score)

MAE  3.417472278801665

# R2
* de 0 a 1
* quanto mais próximo de 1, melhor

In [84]:
from sklearn.metrics import r2_score

In [87]:
score = r2_score(Y_test, Y_pred)
print("R2 ", score)

R2  0.7649416667641525