# Normalização

O  objetivo  da  normalização  é  alterar  os  valores  das  colunas  numéricas  no  conjunto  de  dados  para  uma  escala  comum,  sem  distorcer  as  diferenças  nos  intervalos  de  valores.

Transformação entre 0..1 ou 1..10.

Não utilizar com outliers.

* Clustering
* Sistemas de recomendação que usam coseno
* KNN com distancia euclidiana
* Regressão Logística
* SVM
* Perceptrons
* Redes Neurais
* K-Means
* Análise discriminante
* PCA
* PCA do kernel

Hint
* Fisher LDA
* Naive Bayes
* Decision Tree
* Random Forest

In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [2]:
df = pd.read_pickle("data/pima-data.pkl")

In [3]:
df.shape

(768, 9)

In [4]:
df.head()

   preg  plas  pres  skin  test  mass   pedi  age  classe
0     6   148    72    35     0  33.6  0.627   50       1
1     1    85    66    29     0  26.6  0.351   31       0
2     8   183    64     0     0  23.3  0.672   32       1
3     1    89    66    23    94  28.1  0.167   21       0
4     0   137    40    35   168  43.1  2.288   33       1

In [5]:
# mesma escala entre 0 e 1
a = df.values

In [6]:
# separando input e output
X = a[:, 0:8] # preditora/explicativa
Y = a[:, 8] #target/classe

In [7]:
# nova escala de 0..1
scaler = MinMaxScaler(feature_range= (0,1))

In [8]:
# aplicando o scaler
rescaledX = scaler.fit_transform(X)

In [9]:
print("Dados originais", df.values)
print("Dados normalizados", rescaledX[0:5,:])

Dados originais [[  6.    148.     72.    ...   0.627  50.      1.   ]
 [  1.     85.     66.    ...   0.351  31.      0.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 ...
 [  5.    121.     72.    ...   0.245  30.      0.   ]
 [  1.    126.     60.    ...   0.349  47.      1.   ]
 [  1.     93.     70.    ...   0.315  23.      0.   ]]
Dados normalizados [[0.35294118 0.74371859 0.59016393 0.35353535 0.         0.50074516
  0.23441503 0.48333333]
 [0.05882353 0.42713568 0.54098361 0.29292929 0.         0.39642325
  0.11656704 0.16666667]
 [0.47058824 0.91959799 0.52459016 0.         0.         0.34724292
  0.25362938 0.18333333]
 [0.05882353 0.44723618 0.54098361 0.23232323 0.11111111 0.41877794
  0.03800171 0.        ]
 [0.         0.68844221 0.32786885 0.35353535 0.19858156 0.64232489
  0.94363792 0.2       ]]

Metodo 2 - vetor de comprimento 1

In [10]:
from sklearn.preprocessing import Normalizer

In [11]:
# nova escala de 0..1
scaler = Normalizer()

In [12]:
# aplicando o scaler
normalizedX = scaler.fit_transform(X)

In [13]:
print("Dados originais", df.values)
print("Dados normalizados", rescaledX[0:5,:])

Dados originais [[  6.    148.     72.    ...   0.627  50.      1.   ]
 [  1.     85.     66.    ...   0.351  31.      0.   ]
 [  8.    183.     64.    ...   0.672  32.      1.   ]
 ...
 [  5.    121.     72.    ...   0.245  30.      0.   ]
 [  1.    126.     60.    ...   0.349  47.      1.   ]
 [  1.     93.     70.    ...   0.315  23.      0.   ]]
Dados normalizados [[0.35294118 0.74371859 0.59016393 0.35353535 0.         0.50074516
  0.23441503 0.48333333]
 [0.05882353 0.42713568 0.54098361 0.29292929 0.         0.39642325
  0.11656704 0.16666667]
 [0.47058824 0.91959799 0.52459016 0.         0.         0.34724292
  0.25362938 0.18333333]
 [0.05882353 0.44723618 0.54098361 0.23232323 0.11111111 0.41877794
  0.03800171 0.        ]
 [0.         0.68844221 0.32786885 0.35353535 0.19858156 0.64232489
  0.94363792 0.2       ]]